
.resume-title {
  text-align: center; 
  margin-top: 50px; /* Add space on top */
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #00154F; /* Pink */
  margin-left: auto; 
  margin-right: auto; /* Center align within the container */
  max-width: 1200px; /* Same max-width as projects title */
}

.resume-intro {
  text-align: center; 
  font-size: 1.1 rem; 
  color: #00154F; /* Light Pink to differentiate the paragraph */
  max-width: 800px; 
  margin: 0 auto 30px auto; /* Center and add space below */
  margin-top: 20px;
  line-height: 1.6; /* Improve readability */
}

.resume-content-container {
  padding: 0px;
  border-radius: 8px;
  margin: 15px auto; 
  max-width: 850px; /* Limit the width of the container */
}

.resume-download {
  display: flex;
  justify-content: center; /* Center the download button */
  margin-bottom: 20px;
}

.download-btn {
  display: inline-block;
  background-color: #4c85b3; /* Pink */
  color: #FFFFFF; /* White text */
  padding: 10px 20px; /* Smaller padding for better appearance */
  border-radius: 8px;
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  font-size: 1rem; 
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
}

.download-btn:hover {
  background-color: #00154F; /* Lighter pink on hover */
  transform: scale(1.05); /* Slight zoom effect */
}


.resume-viewer {
  width: 100%; 
  height: 1000px; /* Height of the iframe */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for style */
}

.resume-viewer iframe {
  width: 100%;
  height: 100%;
  border: none; /* Remove default iframe border */
}

/* Mobile Design */
@media (max-width: 768px) {
  .resume-intro {
    padding: 0 20px; /* Add left and right padding for better readability */
    font-size: 1rem; 
  }

  .resume-viewer {
    height: 500px; /* Reduce iframe height on mobile */
  }

  .resume-content-container {
    max-width: 100%; /* Make the container full-width */
  }
}